
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  margin-bottom: 2rem;
  color: black;
  
}
.title {
  margin-top: 2rem;
  display: inline;
}

.icon {
  display: inline;
  width: 85px;
}

.top {
  margin-bottom: 1rem;
}

.title-wrapper {
  position: relative;
  margin-bottom: 1rem;
}
.button {
  display: block;
  border-radius: 0;
  border-color: #00D615;
  color: #00D615;

}

.button:hover {
  border-color: #82C8FF;
  color: #82C8FF;
}

.links-wrapper {
  margin-bottom: 2.5rem;
}

.about {
  font-size: 12px;
  margin-bottom: 24px;
}



@media (min-width: 550px) {
  .button {
    display: inline-block;
    margin-bottom: 0;
  }

  .center {
    width: 50%;
  }
}


