
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  
}

.button {
  display: block;
}
.links-wrapper {
  margin-bottom: 2.5rem;
}

.about {
  font-size: 12px;
}


@media (min-width: 550px) {
  .button {
    display: inline-block;
  }

  .center {
    width: 50%;
  }
}


